@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {  
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding: 10px 0 40px;
}

#root {
  max-width: 600px;
  flex-basis: 90%;
}

.App {
  box-sizing: border-box;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .result {
    text-align: center;

    button {
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      border-radius: 30px;
      border: 0;
      padding: 15px 30px;
      font-size: 20px;
      background-color: darken(#ff006e, 3%);
      color: #fff;
      margin-top: 20px;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 0;
    }

    img {
      width: 150px;
    }
  }

  .progress {
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;

    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: rgb(18, 231, 48);
      transition: all 0.3s ease-in-out;
      background: linear-gradient(
        90deg,
        rgba(18, 231, 48, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
    }
  }

  &:before,
  &:after {
    content: "";
    display: block;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  h1 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding: 15px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }

    .menu-title {
      padding-right: 24px;
    }

    .score-info {
      position: absolute;
      right: 10px;
      top: 15px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
@media screen and (max-width: 400px) {
  #root {
    flex-basis: 95%;
  }

  .App {
    padding: 30px 20px 25px;

    .result {
      padding-bottom: 15px;
      img {
        width: 115px;
      }
    }

    .main-title {
      font-size: 1.6em;
      text-align: center;
    }

    h1 {
      font-size: 1.2em;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.4em;
      line-height: 1.2;
    }

    ul li {
      font-size: 14px;
    }
  }
}
